* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100vw;
    margin-top: 40px;
}

.imagen-box {
    background-color: rgb(125, 183, 201);
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    width: 30.5vw;
    height: 13vw;
    box-shadow: 0px -2px 5px rgb(0, 116, 116);
    display: flex;
    justify-content: end;
}

.titulos {
    width: 50vw;
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.titulos h1 {
    font-size: 3.3vw;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(0, 116, 116);
}

.titulos h2 {
    font-size: 2.2vw;
    font-family: 'Fira Sans', sans-serif;
}

.image-profile {
    width: 13vw;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 60vh;
    align-items: center;
}

.section {
    width: 50vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

ul {
    list-style: none;
}

h2, h3 {
    font-family: 'Fira Sans', sans-serif;
    color: rgb(0, 116, 116);
    font-weight: 100;
    font-size: 1.7vw;
}

p, li {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    color: rgb(125, 183, 201);
    font-size: 1.4vw;
    font-weight: 600;
}

footer {
    width: 100vw;
    height: 7vh;
    background-color: rgb(0, 116, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
}
.imagen-footer {
    width: 3vw;
}

@media screen and (max-width: 500px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100vw;
        margin-top: 40px;
    }

    .imagen-box {
        width: 60vw;
        height: 30vw;
        display: flex;
        align-content: center;
        justify-content: flex-end;
    }

    .image-profile {
        width: 30vw;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: 80vh;
        margin-top: 15vw;
        margin-bottom: 10vw;
    }

    .section {
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 85px;
        margin-bottom: 10vw;
        box-sizing: border-box;
    }

    .section h2 {
        font-size: 3.2vw;
    }

    .section p, li {
        font-size: 2.8vw;
    }
    
    .titulos {
        width: 100vw;
    }

    .titulos h1 {
        font-size: 7vw;
    }

    .titulos h2 {
        display: flex;
        justify-content: center;
        font-size: 4.5vw;
        padding-bottom: 3vw;
        width: 70vw;
        border-bottom: solid 1px rgb(0, 116, 116);
    }

    .imagen-footer {
        width: 6.5vw;
    }

}